.banana-bamboo_icon {
  background-image: url('/src/img/animals-cards/banana-bamboo_icon.png');
  width: 33px;
  height: 37px;
  margin-bottom: 10px;
}

.meet-fish_icon {
  background-image: url('/src/img/animals-cards/meet-fish_icon.png');
  width: 48px;
  height: 38px;
  margin-bottom: 10px;
}
