.wrapper {
  max-width: $content-width;
  margin: 0 auto;
}

// @include media-desktop {
//   .wrapper {
//     max-width: 1160px;
//   }
// }

@include media-small-desktop {
  .wrapper {
    max-width: 940px;
  }
}
@include media-tablet {
  .wrapper {
    max-width: 600px;
  }
}
@include media-mobile {
  .wrapper {
    max-width: 300px;
  }
}
